<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cristaudo.dailylife" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Daily Life</name>
    <description>Daily Life app for my exam</description>
    <author email="o.cristaudo.1296@vallauri.edu" href="https://www.vallauri.edu">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <splash src="res/screen/android/drawable-land-hdpi/screen.png" density="land-hdpi" />
    <splash src="res/screen/android/drawable-land-ldpi/screen.png" density="land-ldpi" />
    <splash src="res/screen/android/drawable-land-mdpi/screen.png" density="land-mdpi" />
    <splash src="res/screen/android/drawable-land-xhdpi/screen.png" density="land-xhdpi" />
    <splash src="res/screen/android/drawable-land-xxhdpi/screen.png" density="land-xxhdpi" />
    <splash src="res/screen/android/drawable-land-xxxhdpi/screen.png" density="land-xxxhdpi" />
 
    <splash src="res/screen/android/drawable-hdpi/screen.png" density="port-hdpi" />
    <splash src="res/screen/android/drawable-ldpi/screen.png" density="port-ldpi" />
    <splash src="res/screen/android/drawable-mdpi/screen.png" density="port-mdpi" />
    <splash src="res/screen/android/drawable-xhdpi/screen.png" density="port-xhdpi" />
    <splash src="res/screen/android/drawable-xxhdpi/screen.png" density="port-xxhdpi" />
    <splash src="res/screen/android/drawable-xxxhdpi/screen.png" density="port-xxxhdpi" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/icon.png" />
</widget>
