body{
    background-image:linear-gradient(rgba(180, 255, 159,0.4), rgba(168, 255, 144, 0.4)), url('../Assets/IMG/Sunflour.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        
}

#btnInsert{
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #83BD75;
    background-color: #83BD75;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
    line-height: 50%;
    outline: none !important;
    box-shadow: none !important;
}

#btnMap{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    outline: none !important;
    box-shadow: none !important;
}

#btnList{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    outline: none !important;
    box-shadow: none !important;
}

#btnInsert:hover:active{color: #26b662 !important;}
#btnMap:hover:active{color: #26b662 !important;}
#btnList:hover:active{color: #26b662 !important;}

.btn{
    color: white !important;
}

.btnBottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
}

.btnTop{
    position: absolute;
    bottom: 10px;
}

.nav{
    background-color: #83BD75;
 }