body{
    background-image:linear-gradient(rgba(180, 255, 159,0.4), rgba(168, 255, 144, 0.4)), url('../Assets/IMG/Sunflour.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
        
}

#btnInsert{
    text-decoration: none;
    font-weight: bold;
    /*border: 1px solid #83BD75;*/
    background-color: #50CB93;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 3.5rem;
    line-height: 50%;
    outline: none !important;
    box-shadow: none !important;
    padding: 0;
}

.btn-menu{
    text-decoration: none;
    font-weight: bold;
    font-size: 2.1rem;
    outline: none !important;
    box-shadow: none !important;
}

.dTitle{
    margin-top: 20%;
}

#txtName{
    font-family: "DL-Title";
    font-size: 4rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 5px black;
}

#btnInsert:hover:active{color: #26b662 !important;}
#btnMap:hover:active{color: #26b662 !important;}
#btnList:hover:active{color: #26b662 !important;}
#btnCalendar:hover:active{color: #26b662 !important;}
#btnOption:hover:active{color: #26b662 !important;}

.btn{
    color: white !important;
}

.btnBottom{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: stretch;
}

.btnTop{
    /*margin-bottom: 0.2rem;*/
    padding: 0;
}

.nav{
    /*background-color: #83BD75;*/
    background-color: transparent;
 }

 .bg-div{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 2rem;
    background-color: #50CB93;
 }

 i{
     text-shadow: 0 0 5px black;
 }

 @font-face {
    font-family: "DL-Title";
    src: url("../Assets/Font/Pacifico-Regular.ttf");
}